<div class="header color">
  <h1>Registration Form {{ tenant }}</h1>
</div>

<section>
  <form id="form">
    <div class="row form">
      <div class="col-md-12" *ngFor="let control of dynamicFormArray">
        <div
          *ngIf="control.Tenant == tenantName || control.Tenant == 'default'"
        >
          <div [ngSwitch]="control.Type">
            <div *ngSwitchCase="'input'">
              <div class="col-md-4">
                <label>{{ control.Label }}</label>
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="control.ClassName"
                />
              </div>
            </div>
            <div *ngSwitchCase="'date'">
              <div class="col-md-4">
                <label>{{ control.Label }}</label>
              </div>
              <div class="col-md-6">
                <input type="date" class="form-control" />
              </div>
            </div>
            <div *ngSwitchCase="'radio'">
              <div class="col-md-4">
                <label>{{ control.Label }}</label>
              </div>
              <div class="col-md-6">
                <label
                  class="radio"
                  *ngFor="let val of control.Value.split(',')"
                >
                  <input
                    type="radio"
                    name="{{ control.ID }}"
                    value="{{ val }}"
                  />
                  {{ val }}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'select'">
              <div class="col-md-4">
                <label>{{ control.Label }}</label>
              </div>
              <div class="col-md-6">
                <select class="form-control">
                  <option value="-1">Select</option>
                  <option
                    *ngFor="let val of control.Value.split(',')"
                    value="{{ val }}"
                  >
                    {{ val }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
