/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import './app/components/user-idle/user-idle.component.scss';

/** these styles are being applied/ called from DB (reffered in json file), these are global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f3f5f9
}

.borderStyle {
  border: solid 1px red;
}
